# This file contains .gitignore rules that are often used with Drupal projects.
# Because .gitignore is specific to your site and its deployment processes, you
# may need to uncomment, add, or remove rules.
#
# To ignore all paths that composer manages when using this project template,
# remove all double-hashed (##) lines.


# Ignore configuration files that may contain sensitive information.
#
# Typically, settings.php and related files are not committed to the
# repository because they contain information such as the database
# credentials that could be used to compromise a site. Sometimes,
# a settings.php might be committed to the repository if it reads
# sensitive information from environment variables or other sources.
# ------------------------------------------------------------------
/docroot/sites/*/settings*.php
/docroot/sites/*/services*.yml

# Ignore paths that contain user-generated content.
/docroot/sites/*/files
/docroot/sites/*/private

# Ignore SimpleTest multi-site environment.
/docroot/sites/simpletest


# Ignore custom modules managed by Composer.
#
# When a development team creates one or more custom modules that
# are intended for use on more than one site, the typical strategy
# is to register them in Packagist and give them the type
# `drupal-custom-module` instead of `drupal-module`. This will cause
# Composer to install them to the directory `modules/custom`.
#
# An alternate strategy for custom modules is to commit them
# directly to the repository of the site where they are used. This
# is commonly done with modules that are specific to just one site.
#
# Sites that have both Composer-managed custom modules and custom
# modules that are committed directly to the repository may ignore
# the `modules/custom` directory with the first rule shown below,
# and then allow the locations to be committed on a case-by-case
# basis by re-adding paths using `!` rules. A path that begins with
# a `!` will allow a previously-ignored path to be added to the
# repository. Note, however, that a path cannot be re-added if any
# of its parent directories are excluded. This is why we use the
# rule `/modules/custom/*` instead of `/modules/custom`.
#
# Sites that do not have any Composer-managed custom modules may
# delete all of the `modules/custom` lines below.
# ------------------------------------------------------------------
##/modules/custom/*
#!/modules/custom/module_in_repo


# Ignore directories generated by Composer
#
# See the "installer-paths" section in the top-level composer.json
# file.
# ------------------------------------------------------------------
/docroot/drush/Commands/contrib/
/docroot/core/
/docroot/modules/contrib/
/docroot/themes/contrib/
/docroot/profiles/contrib/
/docroot/libraries/

# Generally you should only ignore the root vendor directory. It's important
# that core/assets/vendor and any other vendor directories within contrib or
# custom module, theme, etc., are not ignored unless you purposely do so.
/vendor/

# Ignore scaffold files
#
# Note that the scaffold plugin may be used to automatically manage
# a site's .gitignore files. If the `vendor` directory is ignored,
# then one or more .gitignore files will be written to also ignore
# any file placed by scaffolding. To avoid the creation of
# additional .gitignore files, add all of the scaffold file
# locations to the top-level .gitignore file, as shown below.
# ------------------------------------------------------------------
/docroot/.csslintrc
/docroot/.editorconfig
/docroot/.eslintignore
/docroot/.eslintrc.json
/docroot/.gitattributes
/docroot/.ht.router.php
/docroot/.htaccess
/docroot/INSTALL.txt
/docroot/README.txt
/docroot/autoload.php
/docroot/example.gitignore
/docroot/index.php
/docroot/robots.txt
/docroot/update.php
/docroot/web.config
/docroot/modules/README.txt
/docroot/profiles/README.txt
/docroot/sites/README.txt
/docroot/sites/default/default.services.yml
/docroot/sites/default/default.settings.php
/docroot/sites/development.services.yml
/docroot/sites/example.settings.local.php
/docroot/sites/example.sites.php
/docroot/themes/README.txt

# Open Y stuff
/provisioning
/cibox
/html
/docroot/devops
/docroot/ansible.cfg
/docroot/codestyleautofix.yml
/docroot/config_clean.sh
/docroot/config_clean.yml
/docroot/devops.yml
/docroot/htmlsniffer.yml
/docroot/README.md
/docroot/README.reinstall.md
/docroot/README.windows.md
/docroot/reinstall.yml
/docroot/reinstall.sh
/docroot/reinstall_install.sh
/docroot/reinstall_upgrade.sh
/docroot/runcodestyleautofix.sh
/docroot/rundevops.sh
/docroot/runhtmlsniffers.sh
/docroot/runsniffers.sh
/docroot/runtests.sh
/docroot/scss-lint.yml
/docroot/sniffers.yml
/docroot/tests.yml

# Other common rules
# ------------------
# Ignore files generated by PhpStorm
/.idea/

# Ignore .env files as they are personal
/.env

# Exclude hidden OS files.
.DS_Store
._*
Thumbs.db
.vs
